/* @font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/SairaRomanRegular.ttf");
    font-family: "Saira";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/RobotoRegular.ttf");
    font-family: "Roboto";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/RudaRegular.ttf");
    font-family: "Ruda";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/SairaRomanSemiBold.ttf");
    font-family: "Saira";
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/SairaRomanThin.ttf");
    font-family: "Saira";
    font-weight: 100;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/InterLight.ttf");
    font-family: "Inter";
    font-weight: 300;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/InterRegular.ttf");
    font-family: "Inter";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/InterSemiBold.ttf");
    font-family: "Inter";
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/InterMedium.ttf");
    font-family: "Inter";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/SairaMedium.ttf");
    font-family: "Saira";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/SairaItalicRegular.ttf");
    font-family: "Saira";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/InterBold.ttf");
    font-family: "Inter";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/InterExtraLight.ttf");
    font-family: "Inter";
    font-weight: 200;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/SairaRomanLight.ttf");
    font-family: "Saira";
    font-weight: 300;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/SairaRomanBold.ttf");
    font-family: "Saira";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/SairaSemiBold.ttf");
    font-family: "Saira";
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/SairaRegular.ttf");
    font-family: "Saira";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/PlusJakartaSansRomanBold.ttf");
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/PlusJakartaSansRomanRegular.ttf");
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/SairaRomanMedium.ttf");
    font-family: "Saira";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/SairaItalicThin.ttf");
    font-family: "Saira";
    font-weight: 100;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/PoppinsMedium.ttf");
    font-family: "Poppins";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/MontserratBold.ttf");
    font-family: "Montserrat";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/MontserratMedium.ttf");
    font-family: "Montserrat";
    font-weight: 500;
} */