body {
    margin: 0;
    padding: 0;
    font-family: Saira;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
}

a {
    text-decoration: none;
    display: block;
}

input {
    background-color: transparent;
    width: 100%;
}

input:focus {
    outline: none;
}

.alice-carousel__dots-item {
    cursor: pointer;
}